*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(4, 0, 27);
    background: linear-gradient(to right, rgb(4, 0, 27), #250070);
}
h2{
    color: whitesmoke;
    font-weight: 200;
    margin-bottom: 20px;
}
.buttons{
    margin: 50px;
    width: fit-content;
    background-color: var(--clr-form-bg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 3rem;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.buttons button{
    color: #fff;
    font-size: medium;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}
.success{
    background: green;
}
.error{
    background: red;
}
.invalid{
    background: orange;
}
#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}
img{
    margin: 5px;
    width: 45px;
}